<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="function.Db.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <function.Db.Properties.Settings>
            <setting name="function_Db_DB_POP_SERVICE_DB_POP_SERVICE" serializeAs="String">
                <value>http://210.100.77.224:9021/DB_POP_SERVICE.asmx</value>
            </setting>
        </function.Db.Properties.Settings>
    </applicationSettings>
</configuration>