<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="function.wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <function.wpf.Properties.Settings>
            <setting name="function_wpf_Service_Oracle_Service_Oracle" serializeAs="String">
                <value>http://210.100.70.3/Service_Oracle.asmx</value>
            </setting>
        </function.wpf.Properties.Settings>
    </applicationSettings>
</configuration>
